.conteneur-formulaire-utilisateur {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-top: 100px;
}

.formulaire-utilisateur {
  margin: 9%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.groupe-formulaire {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
}

.champ-formulaire {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-input {
  appearance: none;
  padding-right: 30px; 
}

.bouton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.lien-retour {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
.button-container .button-space {
  margin-right: 60px; 
}