.UserList {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.UserList .container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.UserList h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #5884b28c;
  text-align: center;
}

.UserList table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: 64px;
  margin-top: 56px;
}
.UserList tr th,
.UserList tr td {
  text-align: center;
}
.UserList tr th {
  background-color: #4a85b6;
  color: white;
  font-size: 19px;
}
.UserList table th,
.UserList table td {
  border: 1px solid #ccc;
  padding: 12px;
}

.UserList .add-user-btn:hover {
  background-color: #0056b3;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.button-container a {
  font-weight: 500;
  color: #3287ba;
  text-decoration: inherit;
  padding: 10px;
}
.button-container Button:hover {
  background-color: #3287ba;
  color: white;
}
.button-container a:hover {
  color: white;
}

